@using eCommerce.WebUI.Models
@model CartIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="content">
    <div class="top">
        <div class="left">
        </div>
        <div class="right">
        </div>
        <div class="center">
            <h1>
                Shopping Cart</h1>
        </div>
    </div>
    <div class="middle">
        <table class="cart">
            <tbody>
                <tr class="table_heading">
                    @*<th align="center">Remove</th>*@
                    <th align="center">
                        Image
                    </th>
                    <th align="left">
                        Name
                    </th>
                    <th align="left">
                        Type
                    </th>
                    <th align="right">
                        Quantity
                    </th>
                    <th align="right">
                        Unit Price
                    </th>
                    <th align="right">
                        Total
                    </th>
                    <th align="center">
                        Task
                    </th>
                </tr>
                @foreach (var item in Model.Cart.Items)
                {
                    string imageLink = @ViewData["ImageCDN"] + @item.Food.Image + ".ashx?height=75";
                    
                    <tr>
                        @*<td align="center"><input name="remove[47:602]" type="checkbox" /></td>*@
                        <td align="center">
                            <img alt="@item.Food.Name" src="@imageLink" />
                        </td>
                        <td valign="top" align="left">
                            <a href="">@item.Food.Name</a>
                        </td>
                        <td valign="top" align="left">@item.Food.FOODTYPE.Name
                        </td>
                        <td valign="top" align="right">
                        @using (Html.BeginForm("UpdateQuantity", "Cart"))
                            {
                            @*<input name="quantity" value="@item.Quantity" 
                                                      size="3" type="text" />*@
                                @Html.Hidden("ID", item.Food.ID)
                                @Html.TextBox("quantity",item.Quantity, new {size="1",})
                                @Html.HiddenFor(x => x.ReturnUrl)
                                <input class="update_button" type="submit" value="Update" />
                            }

                            
                        </td>
                        <td valign="top" align="right">@item.Food.Price
                        </td>
                        <td valign="top" align="right">@(@item.Food.Price * @item.Quantity)
                        </td>
                        <td valign="top" align="right">
                            @using (Html.BeginForm("RemoveFromCart", "Cart"))
                            {
                                @Html.Hidden("foodId", item.Food.ID)
                                @Html.HiddenFor(x => x.ReturnUrl)
                                <input class="remove_button" type="submit" value="Remove" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div style="width: 100%; display: inline-block;">
            <table style="float: right; display: inline-block;">
                <tbody>
                    <tr>
                        <td align="right">
                            <b>Total:</b>
                        </td>
                        <td align="right">@Model.Cart.ComputeTotalValue()
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
        </div>
        <div class="buttons">
            <table>
                <tbody>
                    <tr>
                        <td align="left">
                            <a class="button" onclick="$('#cart').submit();"><span>Update</span></a>
                        </td>
                        <td align="center">
                            <a class="button" onclick="location ='@Model.ReturnUrl'"><span>Continue Shopping</span></a>
                        </td>
                        <td align="right">
                            <a class="button" href="@Url.Action("Checkout","Cart")">
                                <span>Checkout</span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="bottom">
        <div class="left">
        </div>
        <div class="right">
        </div>
        <div class="center">
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function() {
        $(".remove_button").button();
        $(".update_button").button({
                icons: {
                    primary: "ui-icon-circle-check"
                },
                text: false
            });
    });

</script>