@using eCommerce.WebUI.Models.Account
@model HistoryDetail

@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="content">
    <div class="top">
        <div class="left">
        </div>
        <div class="right">
        </div>
        <div class="center">
            <h1>
                Order Detail</h1>
        </div>
    </div>
    <div class="middle">
        <table class="cart">
            <tbody>
                <tr class="table_heading">
                    @*<th align="center">Remove</th>*@
                    <th align="center">
                        Image
                    </th>
                    <th align="left">
                        Name
                    </th>
                    <th align="left">
                        Type
                    </th>
                    <th align="right">
                        Quantity
                    </th>
                    <th align="right">
                        Unit Price
                    </th>
                    <th align="right">
                        Total
                    </th>
                    
                </tr>
                @foreach (var item in Model.OrderDetails)
                {
                    string imageLink = @ViewData["ImageCDN"] + @item.FOOD.Image + ".ashx?height=75";
                    
                    <tr>
                        @*<td align="center"><input name="remove[47:602]" type="checkbox" /></td>*@
                        <td align="center">
                            <img alt="@item.FOOD.Name" src="@imageLink" />
                        </td>
                        <td valign="top" align="left">
                            <a href="http://tzelewski.co.uk/template/kinder/index.php?route=product/product&amp;product_i=47">@item.FOOD.Name</a>
                        </td>
                        <td valign="top" align="left">@item.FOOD.FOODTYPE.Name
                        </td>
                        <td valign="top" align="right">
                        @item.Count
                            
                        </td>
                        <td valign="top" align="right">@item.FOOD.Price
                        </td>
                        <td valign="top" align="right">@(@item.FOOD.Price * @item.Count)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div style="width: 100%; display: inline-block;">
            <table style="float: right; display: inline-block;">
                <tbody>
                    <tr>
                        <td align="right">
                            <b>Total:</b>
                        </td>
                        <td align="right">@Model.OrderDetails.Sum(p=>p.Price * p.Count)
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
        </div>
        <div class="buttons">
            <table>
                <tbody>
                    <tr>
                        <td align="left">
                            <a class="button" href="@Url.Action("Index")"><span>Back</span></a>
                        </td>
                        <td align="center">
                            
                        </td>
                        <td align="right">
                            <a class="button" href="@Url.Action("List","Food")">
                                <span>Home</span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="bottom">
        <div class="left">
        </div>
        <div class="right">
        </div>
        <div class="center">
        </div>
    </div>
</div>


