@model eCommerce.WebUI.Models.Account.Register
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    <script type="text/javascript" src="@Url.Content("~/Scripts/MicrosoftAjax.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/MicrosoftMvcValidation.debug.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script>
        $(function () {
            $("#City").autocomplete({
                source: '@Url.Content("~/Handler/City.ashx")',
                minLenght: 0,
                select: function (event, ui) {
                    $("#City").val(ui.item.value);
                }

            });

            $("#District").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Content("~/Handler/District.ashx")',
                        dataType: "json",
                        data: {
                            term: request.term,
                            city: function () {
                                var sb = $("#City").val();
                                return sb;
                            }
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.label,
                                    value: item.value
                                };
                            }));
                        }

                    });
                },
                minLenght: 0,
                select: function (event, ui) {
                    $("#District").val(ui.item.value);
                }

            });



        });
    </script>
}
<div id="content">
    <div class="top">
        <div class="left">
        </div>
        <div class="right">
        </div>
        <div class="center">
            <h1>
                Account Register</h1>
        </div>
    </div>
    <div class="middle">
        <p>
            If you already have an account with us, please login at the <a href="#">login page</a>.</p>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "register" }))
        {
            <b style="margin-bottom: 2px; display: block;">Your Login Details</b>
            <div class="content">
                <table>
                    <tbody>
                        <tr>
                            <td width="200px">
                                Username:
                            </td>
                            <td>
                                @Html.EditorFor(x => x.Username)
                                @Html.ValidationMessageFor(x => x.Username)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Password:
                            </td>
                            <td>
                                @Html.PasswordFor(x => x.Password)
                                @Html.ValidationMessageFor(x => x.Password)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Retype Password:
                            </td>
                            <td>
                                @Html.PasswordFor(x => x.RetypePassword)
                                @Html.ValidationMessageFor(x => x.RetypePassword)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Email:
                            </td>
                            <td>
                                @Html.EditorFor(x => x.Email)
                                @Html.ValidationMessageFor(x => x.Email)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <b style="margin-bottom: 2px; display: block;">Your Personal Details</b>
            <div class="content">
                <table>
                    <tbody>
                        <tr>
                            <td width="200px">
                                Name:
                            </td>
                            <td>
                                @Html.EditorFor(x => x.Name)
                                @Html.ValidationMessageFor(x => x.Name)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Social ID:
                            </td>
                            <td>
                                @Html.EditorFor(x => x.SocialId)
                                @Html.ValidationMessageFor(x => x.SocialId)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tel:
                            </td>
                            <td>
                                @Html.EditorFor(x => x.Tel)
                                @Html.ValidationMessageFor(x => x.Tel)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Address:
                            </td>
                            <td>
                                @Html.EditorFor(x => x.Address)
                                @Html.ValidationMessageFor(x => x.Address)
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                District:
                            </td>
                            <td>
                                @Html.EditorFor(x => x.District)
                                @Html.ValidationMessageFor(x => x.District)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                City:
                            </td>
                            <td>
                                @Html.EditorFor(x => x.City)
                                @Html.ValidationMessageFor(x => x.City)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            
            <b style="margin-bottom: 2px; display: block;">Your Security Details</b>
            <div class="content">
                <table>
                    <tbody>
                        <tr>
                            <td width="200px">
                                Question:
                            </td>
                            <td>
                                @Html.DropDownListFor(x => x.Question, new SelectList( Model.ListQuestions,"ID","Question"))
                                @Html.ValidationMessageFor(x => x.Question)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Answer:
                            </td>
                            <td>
                                @Html.EditorFor(x => x.Answer)
                                @Html.ValidationMessageFor(x => x.Answer)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <div class="buttons">
                <table>
                    <tbody>
                        <tr>
                            <td style="padding-right: 5px;" align="right">
                                I have read and agree to the <a class="thickbox" href="#"
                                    alt="#">
                                    <b>Privacy Policy</b></a>
                            </td>
                            <td style="padding-right: 10px;">
                                <input name="agree" value="1" type="checkbox">
                            </td>
                            <td align="right">
                                <a class="button" onclick="$('#register').submit();"><span>Create </span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
        <div class="bottom">
            <div class="left">
            </div>
            <div class="right">
            </div>
            <div class="center">
            </div>
        </div>
    </div>
</div>
