@using System.Globalization
@model eCommerce.Model.FOOD
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

    string imageLink = @ViewData["ImageCDN"] + @Model.Image + ".ashx?height=320&width=320&stretch=fill";
    string price = String.Empty;
    if (Model.Price != null)
    {
        price = ((float)Model.Price).ToString("N0", CultureInfo.CreateSpecificCulture("fr-FR")) + "đ";
    }
}
<div id="big_photo" class="grid_5">
    <a class="thickbox" title="@Model.Name" href="@imageLink" rel="prettyPhoto[pp_gal]">
        <img style="margin-bottom: 3px; opacity: 1; " id="image" title="HP LP3065" alt="HP LP3065" src="@imageLink"></a></div>
<div id="prod_description">
    <div class="grid_4">
        <h3>
            <cufon class="cufon cufon-canvas" alt="HP " style="width: 31px; height: 19px;"><canvas width="45" height="21" style="width: 45px; height: 21px; top: -3px; left: 0px; "></canvas><cufontext>HP </cufontext></cufon>
            <cufon class="cufon cufon-canvas" alt="LP3065" style="width: 65px; height: 19px;"><canvas width="73" height="21" style="width: 73px; height: 21px; top: -3px; left: 0px; "></canvas><cufontext>LP3065</cufontext></cufon>
        </h3>
    </div>
    <div class="grid_4">
    
    </div>
    @using (@Html.BeginForm("AddToCartQuantity","Cart",FormMethod.Post,new{id="detail"})) { 
    <div id="prod_price" class="grid_4">
    
        <span class="n_price_prod"><a class="prod_manufacturer" href="@Url.Action("List", "Food", new { id = @Model.FOODTYPE.ID })">@Model.FOODTYPE.Name</a></span>
        <div style="margin-bottom: 20px;">
            Price: <span class="n_price_prod">@price</span></div>
        Qty:
        <input name="quantity" value="1" size="3" type="text">
        <a class="button" onclick="$('#detail').submit();"><span>Add to Cart</span></a>
        <div>
            @Html.HiddenFor(x=>x.ID)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        </div></div>
    }
     @{ 
                        int forex = 20000;
                        var payPalButton = PayPal.ButtonManager.AddToCartButton.Create(
                               business: "seller_1314725372_biz@yahoo.com",
                               itemName: @Model.FOODTYPE.Name, amount: ((decimal)@Model.Price /@forex).ToString("N2"));
                       HtmlString payPalButtonHtml = new HtmlString(payPalButton.WebSiteCode); }
                    @payPalButtonHtml
        
</div>
<div id="product_content">
    <div class="grid_9">
        <div class="tabs">
            <a tab="#tab_description" class="selected">Description</a></div>
        <div id="tab_description" class="tab_page" style="display: block;">
            <p>
                @Model.Detail</p>
        </div>
    </div>
    <div id="tab_related">
        <div class="grid_9">
            <h2>
                Related Products</h2>
        </div>
        <div class="grid_9">
            <div class="info">
                There are no related products for this product.</div>
        </div>
    </div>
</div>
